@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');
body {
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    /*overflow-x: hidden;*/
   }

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    margin-top: 10px;

}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hoysala-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hoysala-image {
    height: 600px;
    width: 100%;
    margin-left: 30px;
    background: url("../images/gulab-jamuns.jpg") center center / cover no-repeat;

}

.section-wrapper {
    display: flex;
    height: 800px;
}

/*about-us*/
.middle-section {
    text-align: center;
}

.about-us-top {
    width: 99%;
    margin: 10px;
    margin-left: 20px;
}

.about-us-top p {
    text-align: justify;
    margin-right: 20px;
    margin-left: 10px;

}

/* welcome section*/
#welcome {
    float: left;
    width: 50%;
    flex-grow: 1;
}

#welcome h2 {
    text-align: center;
}

#welcome p {
    margin: auto 10%;
    line-height: 20px;
    text-align: justify;
}

#welcome-image {
    position: relative;
    margin: 40px 10% 0;
    overflow: hidden;
}

#welcome-image img {
    max-width: 100%;
}

/* food section*/
#food {
    float: right;
    width: 50%;
    flex-grow: 1;
}

#food h2 {
    text-align: center;
}

#food p {
    margin: auto 10%;
    line-height: 20px;
    text-align: justify;
}

#food-image {
    position: relative;
    margin: 40px 10% 0;
    overflow: hidden;
}

#food img {
    max-width: 100%;
}

/*footer*/

footer {
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #252525;
    clear: both;
    height: 120px;
    width: 100%;
    padding-top: 0px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#contact {
    display: inline-block;
    position: relative;
    margin: 5px;
    margin-left: 30px;
}

#open {
    display: inline-block;
    position: relative;
    margin: 5px;
    margin-left: 60px;
}

#location {
    display: inline-block;
    position: relative;
    margin: 5px;
    margin-left: 60px;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

#social-icons {
    position: relative;
    margin: 25px;
    margin-right: 50px;
    float: right;
}

#social-icons li {

    display: inline-block;
    margin: 5px;
    margin-left: 60px;

}

#social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #c0c5c8;
}

/*book*/
.form-section {
    clear: left;
    background: url("../images/book.jpg") center center / cover no-repeat;
    background-size: cover;
    background-position: center;
    height: 878px;
}

#form-section {
    float: left;
    width: 33%;
    text-align: left;
    flex-grow: 1;
    font-weight: 700;
}

#form-section h2 {
    text-align: center;
}

#form-section form {
    padding: 0 15%;
}

.form-input {
    display: block;
    border: 1px solid #133944;
    width: 100%;
    margin-bottom: 15px;
}

#guest {
    margin-bottom: 15px;
}

.button-90 {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #121212;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    cursor: pointer;
}

/* Style find us section */

#find-us-section {
    float: right;
    width: 66%;
    flex-grow: 1;
}

#find-us-section h2 {
    text-align: center;
}

/* Style map */

#map {
    text-align: center;
}

#map iframe {
    width: 50%;
    height: 450px;
}

/*menu*/
.menu-section {
    clear: left;
    background-size: cover;
    background-position: center;
    height: 1200px;
    width: 100%;
    display: block;
    overflow: hidden;
}
.starters{
    text-align: center;
}
.starters-images{
    display: inline-block;
    width: auto;
    margin: auto;
}

.starters-images image{
    height: 10px;
    width: 10px;
    margin: auto;
}